<div class="card">
    <div class="card-header">
        <strong *ngIf="!isUpdate">Add Measurement Unit</strong>
        <strong *ngIf="isUpdate">Update Measurement Unit</strong>
    </div>
    <div class="card-body">
        <form class="form-horizontal" [formGroup]="measurementFormGroup">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="measurementName">Measurement Name</label>
                <div class="col-md-9">
                    <input type="text" id="measurementName" class="form-control" placeholder="Enter Measurement Name" formControlName="measurementName">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="measurementUnit">Measurement Unit</label>
                <div class="col-md-9">
                    <input type="text" id="measurementUnit" class="form-control" placeholder="Enter Measurement unit" formControlName="measurementUnit">
                </div>
            </div>

        </form>
    </div>
    <div class="card-footer">
        <button *ngIf="!isUpdate" type="submit" class="btn btn-sm btn-primary" [disabled]="!measurementFormGroup.valid" (click)="addBrand()"><i class="fa fa-dot-circle-o"></i>
        Submit</button>
        <button *ngIf="isUpdate" type="submit" class="btn btn-sm btn-primary" [disabled]="!measurementFormGroup.valid" (click)="updateBrand()"><i class="fa fa-dot-circle-o"></i>
        Update</button>
        <button type="reset" class="btn btn-sm btn-danger" (click)="resetForm()"><i class="fa fa-ban"></i>
        Reset</button>
    </div>
</div>