<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card mx-4">
                <div class="card-body p-4">
                    <form [formGroup]="profileFormGroup">
                        <h1>Profile</h1>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Admin Name" autocomplete="empName"
                                formControlName="empName">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Email" autocomplete="empEmailID"
                                formControlName="empEmailID">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-lock"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Admin Type" autocomplete="typeOfAdmin"
                                formControlName="typeOfAdmin">
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="inline-radios">Gender</label>
                            <div class="col-md-9 col-form-label">
                                <div class="form-check form-check-inline mr-1" id="inline-radios">
                                    <input class="form-check-input" type="radio" name="gender" id="inlineRadio1"
                                        value="MALE" formControlName="gender">
                                    <label class="form-check-label" for="inlineRadio1">Male</label>
                                </div>
                                <div class="form-check form-check-inline mr-1">
                                    <input class="form-check-input" type="radio" name="gender" id="inlineRadio2"
                                        value="FEMALE" formControlName="gender">
                                    <label class="form-check-label" for="inlineRadio2">Female</label>
                                </div>
                                <div class="form-check form-check-inline mr-1">
                                    <input class="form-check-input" type="radio" name="gender" id="inlineRadio2"
                                        value="OTHER" formControlName="gender">
                                    <label class="form-check-label" for="inlineRadio2">Other</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>