<div class="card">
    <div class="card-header">
        <strong>Quotes List</strong>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover text-center" *ngIf="quotes.length">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>User Name</th>
                    <th>User Email</th>
                    <th>Mobile Number</th>
                    <th>Product Name</th>
                    <th>Variant Name</th>
                    <th>Quantity</th>
                    <th>Created At</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let quote of quotes; let i=index">
                    <td>{{i+1}}.</td>
                    <td>{{quote?.fullName}}</td>
                    <td>{{quote?.userEmailId}}</td>
                    <td>{{quote?.mobileNo}}</td>
                    <td>{{quote?.productName}}</td>
                    <td>{{quote?.variantName}}</td>
                    <td>{{quote?.quantity}}</td>
                    <td>{{quote?.createdAt | date}}</td>
                    <td>
                        <label class="switch switch-label switch-success">
                            <input type="checkbox" (change)="changeStatus($event,quote.quoteId)" class="switch-input"
                                [checked]="quote?.status">
                            <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!quotes.length">
            <p class="text-center">No Data Found</p>
        </div>
    </div>
</div>